{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@author Iader E. Garcia G. <iader.garcia@correounivalle.edu.co>
@template report_studentmonitor/index

Context variables required for this template:

Example context (json):
{

}
}}
<div class="container-fluid">

    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 item-menu-index">
            <a href ={{urlsearchprofessor}}>
                <div class="text-center div-img-menu">
                    <img src="../assets/img/categories.png" alt="" class="img-menu">
                </div>
                <div class="text-center">
                    <h5> {{# str}} studentmonitor:categories, report_studentmonitor {{/str}} </h5>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 item-menu-index">
            <a href ={{urlsearchcourse}}>
                <div class="text-center div-img-menu">
                    <img src="../assets/img/user.png" alt="" class="img-menu">
                </div>
                <div class="text-center">
                    <h5> {{# str}} studentmonitor:search_student, report_studentmonitor {{/str}} </h5>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4 item-menu-index">
            <a href ={{urlmanageacademicperiod}}>
                <div class="text-center div-img-menu">
                    <img src="../assets/img/course.png" alt="" class="img-menu">
                </div>
                <div class="text-center">
                    <h5> {{# str}} studentmonitor:search_course, report_studentmonitor {{/str}} </h5>
                </div>
            </a>
        </div>
    </div>
</div>



