<div class="row">
    <div class="col-12">
        <h3>{{# str }}studentmonitor:title_course, report_studentmonitor{{/ str}}</h3>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <table id="table-data-course" class="table table-striped">
            <tbody>
                <tr>
                    <th class="text-left col-4">{{# str}} studentmonitor:course_fullname, report_studentmonitor {{/ str}}:</th>
                    <td>{{course_fullname}}</td>
                </tr>
                <tr>
                    <th class="text-left col-4">{{# str}} studentmonitor:course_shortname, report_studentmonitor {{/ str}}:</th>
                    <td>{{course_shortname}}</td>
                </tr>
                <tr>
                    <th class="text-left col-4">{{# str}} studentmonitor:course_startdate, report_studentmonitor {{/ str}}:</th>
                    <td>{{course_startdate}}</td>
                </tr>
                <tr>
                    <th class="text-left col-4">{{# str}} studentmonitor:course_enddate, report_studentmonitor {{/ str}}:</th>
                    <td>{{course_enddate}}</td>
                </tr>
                <tr>
                    <th class="text-left col-4">{{# str}} studentmonitor:course_counter_students, report_studentmonitor {{/ str}}:</th>
                    <td>{{course_counter_students}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <h3>{{# str }}studentmonitor:title_professors, report_studentmonitor{{/ str}}</h3>
        <hr>
    </div>
</div>

{{# hasProfessors}}
<div class="row">
    <div class="col-8">
        <table id="table-course-proffesors" class="table table-striped">
            <thead>
                <th>{{# str}}studentmonitor:username, report_studentmonitor{{/ str}}</th>
                <th>{{# str}}studentmonitor:name, report_studentmonitor{{/ str}}</th>
                <th>{{# str}}studentmonitor:lastname, report_studentmonitor{{/ str}}</th>
                <th>{{# str}}studentmonitor:email, report_studentmonitor{{/ str}}</th>
            </thead>
            <tbody>
                {{# professors}}
                <tr>
                    <td>{{username}}</td>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{email}}</td>
                </tr>
                {{/ professors}}
            </tbody>
        </table>
    </div>
</div>
{{/ hasProfessors}}
{{^ hasProfessors}}
<p>{{#str}}studentmonitor:no_has_professors, report_studentmonitor{{/str}}</p>
{{/ hasProfessors}}


<div class="row">
    <div class="col-12">
        <h3>{{# str }}studentmonitor:title_student, report_studentmonitor{{/ str}}</h3>
        <hr>
    </div>
</div>

{{# hasStudents}}
<div class="row">
    <div class="col-12">
        <table id="table-course-students" class="table table-striped">
            <thead>
                <tr>
                    <th>{{# str}}studentmonitor:name, report_studentmonitor{{/ str}}</th>
                    <th>{{# str}}studentmonitor:lastname, report_studentmonitor{{/ str}}</th>
                    <th>{{# str}}studentmonitor:username, report_studentmonitor{{/ str}}</th>
                    <th>{{# str}}studentmonitor:email, report_studentmonitor{{/ str}}</th>
                    {{# columnItems}}
                    <th>{{{columname}}}</th>
                    {{/ columnItems}}
                </tr>
            </thead>
            <tbody>
                {{# students}}
                <tr>
                    <td>{{firstname}}</td>
                    <td>{{lastname}}</td>
                    <td>{{username}}</td>
                    <td>{{email}}</td>
                    {{# columnItems}}
                    <th>{{{grade}}}</th>
                    {{/ columnItems}}
                </tr>
                {{/ students}}
            </tbody>
        </table>
    </div>
</div>
{{/ hasStudents}}
{{^ hasStudents}}
<p>{{#str}}studentmonitor:no_has_students, report_studentmonitor{{/str}}</p>
{{/ hasStudents}}