<table class="table table-striped">
    <thead>
        <tr>
            {{# items}}
            <th>{{{itemname}}}</th>
            {{/ items}}
        </tr>
    </thead>
    <tbody>
        {{# items}}
        <td>{{{grade}}}</td>
        {{/ items}}
    </tbody>
</table>